.about-section{
    .about-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        .box-wrapper-1{
            height: 66vh;
            width: 85vw;
            background-color: #000;
            position: absolute;
            z-index: 1;
            left: 6vw;
            top: 69.5vw;
        }
        .box-wrapper-2{
            height: 66vh;
            width: 85vw;
            left: 8vw;
            top: 134vh;
            background-color: rgba(219, 184, 82, 0.9);
            position: absolute;
            z-index: 11;
        }
        
        .about-text{
            padding-top: 17vh;
            z-index: 111;
            padding-left: 12vw;
            width: 30%;
            h1{
                margin: 0 0 5vh 0;
                padding: 0;
            }
            .main-text{
                font-size: 20px;
                color: #292634;
                line-height: 1.5;
                margin-bottom: 6vh
            }    
        }
        .about-image{
            padding-top: 28vh;
            padding-right: 26vw;
            z-index: 111;
        }
        .profile-pic{
            width: 300px
        }
        .main-text{
            
        }
    }
    .tech-row{
        
        display:flex;
        flex-direction: row;
        padding-right: 5vw;
        padding-top: 5vh;
        z-index: 1111;
        justify-content: space-around;

        .heading{
            display: flex;
            flex-direction: column;
            margin-right: 35px;
            
            h2{
            font-size: 27px;
            margin: 0;
            padding: 0 10px;
            color: #292634;
            }
        }
        .current-tech-row{
            z-index: 111;
            display: flex;
            flex-direction: row;
            align-items: center;
            img{
                width: 48%;
                height: max-content;
            }
        }
        .other-tech-row{
            z-index: 111;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .tech-icon{
            padding: 10px 12px;

            img{
                width:85px;
            }
            p{
                padding: 0;
                margin: 0;
                text-align: center;
            }
        }
    }
}


// Media Query //

// Ipad screen (largest Ipad pro) //

@media ( max-width:840px ){
    
    .about-section{
        .about-row{
            .box-wrapper-1{

                height: 66vh;
                width: 74vw;
                position: absolute;
                z-index: 1;
                left: 6vw;
                top: 173.5vw;
            }
            .box-wrapper-2{
                top: 123vh;
                width: 76vw;
                left: 8vw;
            }

            .about-text{
                width: 100%;
                padding-top: 17vh;
                z-index: 111;
                padding-left: 12vw;

                h1{
                    font-size:5em;
                }

                p{
                    font-size: 20px;
                    color: #292634;
                    line-height: 1.5;
                    margin-top: 0;
                    padding-top: 4vh;
                }
            }

            .about-image{
                padding-top: 18vh;
                padding-right: 0vw;
                z-index: 111;
                margin-right: 23vw;
                margin-bottom: 0;
                height: 150px;

                .profile-pic{
                    width: 150px;
                }
            }
        .tech-row{
            display: flex;
            flex-direction: column;
            padding-right: 5vw;
            padding-top: 3vh;
            z-index: 1111;
            justify-content: center;

            .current-tech-row{
                z-index: 111;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-right: 33vw;
                margin-bottom: 2vh;

                img{
                    width: 200px;
                }

            }

            .other-tech-row{
                z-index: 111;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 7vw;
                justify-content: center;

                .tech-icon{
                    img{
                        width: 85px;
                    }
                }
            }
        }

    }
    }
    
    }
    
    // Mobile Screens //
    
    @media only screen and (max-width:480px){
    
        .about-section{
  
        }
        
        }