#projects-section{
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .p-heading-row{
        margin-top: 20vh;
    }
    .project-heading{
        margin: 2vh 0;
        display: block;
        font-size: 6em;
        // margin-left: 13vw;
    }

    .project-row{
        margin-top: 15vh;
        margin-right: 10vw;

        h2{
            font-size: 2.2em;
        }
    }
    .project-card-row{
        display:flex;
        flex-direction: row;
       
        img{
            width:18vw;
        }
        .project-card-1, .project-card-3{
            width:18vw;
            text-align: center;
            border: 1px solid white;
        }
        .project-card-2{
            margin: 0 10px;
            width: 18vw;
            text-align: center;
            border: 1px solid white;
        }
        .project-icon{
            font-size: 3em;
        }
        .code-links{
            display: flex;
            justify-content: center;
            padding-bottom: 10px;
        }
    }
}