
.skills-section{
    
    display: flex;
    flex-direction: row;
    padding-left: 8vw;
    padding-top: 23vh;

    .main-title{
        font-size: 4.3em;
        margin: .75vh 0;
    }
    .main-text{
        font-size: 15px;
        a{
            text-decoration: none;
            color: white;   
        }
    }

    .progress-group{
        padding-bottom: 10px;

        span{
            padding-right: 10px;
        }
        progress{
            min-width:35vw;
            max-width:35vw;
        }
    }
    .skill-bar{
        margin-right: 10vw;
    }
    .progress-row{
        padding-right: 19vw;
    }

    .timeline{
        width: 70%;

    .timeline-card{
        text-align: center;
        width: 20vw;
        height: 125px;
        border: 1px solid gray;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 10px;
    
        .date{
            margin:0;
        }
        
    }
    // background-color: #024251;
    }
}